@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
}
header h1 {
  font-size: 1.5em;
  color: #191d21;
  margin-bottom: 2em;
  padding-top: 0.2em;
  margin-left: 1em;
  font-weight: 600;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.land-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.land-text h2 {
  font-size: 1.5em;
  color: #191d21;
  margin: 0;
  padding-bottom: 0.625em;
  text-align: center;
}
.land-text h3 {
  font-size: 1.125em;
  color: #191d21;
  margin: 0;
  padding-bottom: 0.625em;
  text-align: center;
}
.main-button {
  border: none;
  border-radius: 0.25em;
  background-color: #6f6cd9;
  color: white;
  font-size: 0.875em;
  font-weight: bold;
  cursor: pointer;
  padding: 1.25em 7.5em;
}
.main-button:hover {
  background-color: #00acc1;
}
main a {
  text-decoration: none;
  color: white;
  text-align: center;
  margin: 3.25em 0;
}
