@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
.profile-container {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  background-color: #d0f1eb;
  border-radius: 0.5em;
  box-shadow: 0em 0.1em 0.2em #ecf0ee;
}
.profile-container .profile-icon {
  align-self: flex-end;
}
.profile-container .profile-name {
  align-self: flex-end;
  margin-left: 1em;
}
.profile-more {
  display: flex;
  flex-direction: row;
}
.profile-more i {
  align-self: flex-end;
  margin-left: 1em;
  color: black;
}
.balance {
  display: flex;
  flex-direction: row;

  align-items: center;
  margin: 1em;
  padding: 1em;

  box-shadow: -1px 0px 21px 6px rgba(99, 94, 94, 0.1);
  border-radius: 0.5em;
}
.balance .balance-image {
  margin-left: 0.8em;
  padding-right: 1em;
}
/* .balance-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.balance-details .balance-title {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  font-weight: bold;
}
.balance-details .balance-wallet {
  display: flex;
  flex-direction: row;
  font-size: 1em;
  justify-content: space-between;
  font-weight: bold;
}
.balance-text .fa-chevron-right {
  font-size: 0.8em;
  margin-right: 2.5em;
}
.balance-wallet .fa-chevron-right {
  font-size: 0.8em;
}

/* Crads */
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em;
  /* position: relative; */
}
.circle {
  /* position: absolute; */
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: 3px solid white;
  /* left: 7%; */
  /* margin-left: -25px;
  top: 15px; */
  background: white;
/* }
.circle-2 {
  position: absolute;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: 3px solid white;
  left: 42%;
  margin-left: -25px;
  top: 15px;
  background: white;
  font-size: 1.5em;
}
.circle-3 {
  position: absolute;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: 3px solid white;
  left: 77%;
  margin-left: -25px;
  top: 15px;
  background: white;
} */
.send-card {
  background-color: #ded2f9;
  width: 30%;
  height: 20vh;
  border-radius: 0.5em;
}
.request-card {
  background-color: #d3e1ff;
  width: 30%;
  height: 20vh;
  border-radius: 0.5em;
}
.receive-card {
  background-color: #fdc9d2;
  width: 30%;
  height: 20vh;
  border-radius: 0.5em;
}
/* Activity */
.activity-cards {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  margin: 1em;
  width: 100%;
}
.shooping-card {
  background-color: aqua;
  width: 90%;
  height: 10vh;
  border-radius: 0.5em;
}
.food-card {
  background-color: rgb(255, 0, 149);
  width: 90%;
  height: 10vh;
  border-radius: 0.5em;
}
.footer-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
  width: 90%;
}
.footer-card {
  width: 30%;
  height: 10vh;
  background-color: aliceblue;
  text-align: center;
  border-radius: 0.5em;
  padding-top: 1.3em;
}
